[package]
name = "bevy_mod_raycast"
version = "0.6.2"
authors = ["Aevyrie <aevyrie@gmail.com>"]
edition = "2021"
license = "MIT"
description = "Ray Casting for the Bevy Engine."
repository = "https://github.com/aevyrie/bevy_mod_raycast/"
keywords = ["gamedev", "graphics", "bevy", "3d", "raycast"]
categories = ["game-engines", "rendering"]
resolver = "2"

[dependencies]
bevy = { version = "0.8", default-features = false, features = [
    "bevy_render",
    "bevy_asset",
] }

[dev-dependencies]
bevy = { version = "0.8", default-features = false, features = [
    "bevy_pbr",
    "bevy_winit",
    "bevy_ui",
    "bevy_core_pipeline",
    "bevy_text",
    "bevy_gltf",
    "bevy_scene",
    "x11",
] }
criterion = "0.3"

[features]
default = ["2d", "debug"]
2d = ["bevy/bevy_sprite"]
debug = ["bevy/bevy_pbr"]

[[bench]]
name = "ray_mesh_intersection"
harness = false
