[package]
name = "bevy_mod_raycast"
version = "0.2.2"
authors = ["Aevyrie <aevyrie@gmail.com>"]
edition = "2018"
license = "MIT"
description = "Ray Casting for the Bevy Engine."
repository = "https://github.com/aevyrie/bevy_mod_raycast/"
keywords = ["gamedev", "graphics", "bevy", "3d", "raycast"]
categories = ["game-engines", "rendering"]
resolver = "2"

[dependencies]
bevy = { version = "0.6", default-features = false, features = [
    "render",
] }
wgpu = "*"

[dev-dependencies]
bevy = { version = "0.6", default-features = false, features = [
    "render",
    "bevy_winit",
    "bevy_gltf",
    "x11",
] }
criterion = "0.3"

[[bench]]
name = "ray_mesh_intersection"
harness = false
